<?xml version="1.0"?>

<launch>

  <!-- number of robots -->
  <arg name="nr" default="1"/>
  <arg name="robot_name" value="$(eval 'thorvald_00' + str(arg('nr')))"/>

  <!-- List of cameras -->
  <arg name="LEFT_namespace"         value="/$(arg robot_name)/kinect2_top_left_camera"/>
  <arg name="LEFT_rgb_camera_info"   value="/$(arg robot_name)/kinect2_top_left_camera/hd/camera_info"/>
  <arg name="LEFT_rgb_image"         value="/$(arg robot_name)/kinect2_top_left_camera/hd/image_color_rect"/>
  <arg name="LEFT_depth_camera_info" value="/$(arg robot_name)/kinect2_top_left_sensor/sd/camera_info"/>
  <arg name="LEFT_depth_image"       value="/$(arg robot_name)/kinect2_top_left_sensor/sd/image_depth_rect"/>
  <arg name="LEFT_debug_mask"        value="/$(arg robot_name)/kinect2_top_left_sensor/mono/mask"/>
  <arg name="LEFT_result_image"      value="/$(arg robot_name)/kinect2_top_left_sensor/results/image_raw"/>

  <arg name="RIGHT_namespace"         value="/$(arg robot_name)/kinect2_top_right_camera"/>
  <arg name="RIGHT_rgb_camera_info"   value="/$(arg robot_name)/kinect2_top_right_camera/hd/camera_info"/>
  <arg name="RIGHT_rgb_image"         value="/$(arg robot_name)/kinect2_top_right_camera/hd/image_color_rect"/>
  <arg name="RIGHT_depth_camera_info" value="/$(arg robot_name)/kinect2_top_right_sensor/sd/camera_info"/>
  <arg name="RIGHT_depth_image"       value="/$(arg robot_name)/kinect2_top_right_sensor/sd/image_depth_rect"/>
  <arg name="RIGHT_debug_mask"        value="/$(arg robot_name)/kinect2_top_right_sensor/mono/mask"/>
  <arg name="RIGHT_result_image"      value="/$(arg robot_name)/kinect2_top_right_sensor/results/image_raw"/>


  <!-- Register LEFT depth to RGB -->
  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_LEFT_nodelet_manager" args="manager" />
  <remap from="/depth_registered/image_rect" to="$(arg LEFT_namespace)/depth_registered/image_rect"/>
  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_LEFT_rgb_depth_register_node" args="load depth_image_proc/register $(arg robot_name)_LEFT_nodelet_manager">
    <!-- <remap from="/$(arg namespace)/depth_registered/image_rect" to="$(arg LEFT_namespace)/depth_registered/image_rect"/> -->
    <remap from="rgb/camera_info"   to="$(arg LEFT_rgb_camera_info)"/>
    <remap from="depth/camera_info" to="$(arg LEFT_depth_camera_info)"/>
    <remap from="depth/image_rect"  to="$(arg LEFT_depth_image)"/>
  </node>

  <!-- Register RIGHT depth to RGB -->
  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_RIGHT_nodelet_manager" args="manager" />
  <remap from="/depth_registered/image_rect" to="$(arg RIGHT_namespace)/depth_registered/image_rect"/>
  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_RIGHT_rgb_depth_register_node" args="load depth_image_proc/register $(arg robot_name)_RIGHT_nodelet_manager">
    <!-- <remap from="/$(arg namespace)/depth_registered/image_rect" to="$(arg RIGHT_namespace)/depth_registered/image_rect"/> -->
    <remap from="rgb/camera_info"   to="$(arg RIGHT_rgb_camera_info)"/>
    <remap from="depth/camera_info" to="$(arg RIGHT_depth_camera_info)"/>
    <remap from="depth/image_rect"  to="$(arg RIGHT_depth_image)"/>
  </node>

  <!-- start recursively new node -->
  <include file="$(find ros_assignment)/launch/register_depth.launch" if="$(eval arg('nr') - 1 > 0)">
    <arg name="nr" value="$(eval arg('nr') - 1)"/>
  </include>

</launch>
