<?xml version="1.0"?>

<launch>

  <arg name="rgb_camera_info"   value="/thorvald_001/kinect2_front_camera/hd/camera_info"/>
  <arg name="rgb_image"         value="/thorvald_001/kinect2_front_camera/hd/image_color_rect"/>
  <arg name="depth_camera_info" value="/thorvald_001/kinect2_front_sensor/sd/camera_info"/>
  <arg name="depth_image"       value="/thorvald_001/kinect2_front_sensor/sd/image_depth_rect"/>
  
  <!--<arg name="input_cloud_topic" value="/ros_assignment/depth_registered/points"/>
  <arg name="debug"             value="false"/>-->

  <group ns="ros_assignment">
	  
    <!-- Register depth to RGB + publish RGB pointcloud -->
    <include file="$(find ros_assignment)/launch/register_depth.launch">
      <arg name="rgb_camera_info"   value="$(arg rgb_camera_info)"/>
      <arg name="rgb_image"         value="$(arg rgb_image)"/>
      <arg name="depth_camera_info" value="$(arg depth_camera_info)"/>
      <arg name="depth_image"       value="$(arg depth_image)"/>
    </include>

    <!-- Start PCL clustering -->
    <!--<include file="$(find ros_assignment)/launch/cluster_segmentation.launch">
      <arg name="input_cloud_topic" value="$(arg input_cloud_topic)"/>
      <arg name="debug"             value="$(arg debug)"/>
    </include>-->

    <include file="$(find ros_assignment)/launch/grape_2d_segmentation.launch">
      <arg name="camera_info" value="$(arg rgb_camera_info)"/>
    </include>

   </group>

</launch>
