<?xml version="1.0"?>

<launch>

  <arg name="namespace" value="ros_assignment"/>

  <!-- number of robots -->
  <arg name="nr" default="2"/>

  <!-- Register RGB + Depth -->
  <!-- start recursively new node -->
  <include file="$(find ros_assignment)/launch/register_depth.launch">
    <arg name="nr" value="2"/>
  </include>

  <arg name="nav_client_file"   value="$(find ros_assignment)/config/navigation_goals.yaml"/>
  <arg name="logging"           value="true"/>

  <group ns="$(arg namespace)">

    <!-- Start grape 2d segmentation service-->
    <include file="$(find ros_assignment)/launch/grape_2d_segmentation.launch">
      <param name="logging" value="$(arg logging)"/>
    </include>

    <!-- Start navigation client-->
    <node pkg="ros_assignment" name="navigation_client" type="set_topo_nav_goal.py" output="screen">
      <param name="nav_client_file" value="$(arg nav_client_file)"/>
    </node>

   </group>

</launch>
