<?xml version="1.0"?>

<launch>

  <arg name="world_name" value="vineyard_stage4"/>
  <arg name="paused"     value="false"/>
  <arg name="launch_move_base" default="true"/>

  <!-- Spawn Gazebo + Thorvald -->
  <include file="$(find bacchus_gazebo)/launch/vineyard_demo.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="launch_move_base" value="$(arg launch_move_base)"/>
  </include>

</launch>
